
@font-face {
    font-family:"Miso";
    src:url("miso-regular.woff2") format("woff2"),url("miso-regular.woff") format("woff"),url("miso-regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        