---
layout: layout/base.njk
title: Under Construction
---


<div class="construction">

  <svg class="STh_logo">
		<use xlink:href="#STh_logo"></use>
	</svg>
  <div class="copy">
    <h1>Bald ist es soweit</h1>
    <p>Meine neue Website ist fast fertig. Bei Fragen oder Buchungen schreiben Sie mich gerne jetzt schon an.</p>
  </div>

  <p>Coachingpraxis Lindenthal | Klosterstraße 27 | 50931 Köln | +49 176 72 84 87 07 | <a href="mailto:post@susanna-theunissen.de?subject=::Anfrage">post@susanna-theunissen.de</a></p>

</div>
