---
layout: layout/base.njk
title: Under Construction
---


<div class="construction">

  <svg class="STh_logo">
		<use xlink:href="#STh_logo"></use>
	</svg>
  <div class="copy">
    <h1>Bald ist es soweit</h1>
    <p>Meine neue Website ist fast fertig. Bei Fragen oder Buchungen schreiben Sie mich gerne jetzt schon an.</p>
  </div>

  <p>Susanna Theunissen | mail@susannatheunissen.de</p>

</div>
